
@{
    ViewBag.Title = "Index";
}
<div class="body-content outer-top-xs">
    
    <div class="container">
        <div class="row ">
            <h1>Thanh Toán Thành Công</h1>
            <span class="">
                <a href="@Url.Action("Index", "Home")" class="btn btn-upper btn-primary outer-left-xs">Tiếp tục mua hàng</a>
            </span>

        </div>
    </div>
</div>

